h3 ,h1{
     background: linear-gradient(270deg ,rgb(224, 187, 218),rgb(121, 208, 218),rgb(154, 227, 198)); 
    overflow: hidden;
     padding-left:15rem;
     opacity: 1;
     animation: blink 1.5s;
     transition: all 700ms ease-in-out;
 }
 @keyframes blink {
     0%{
         opacity: 0;
        
     }
     100%{
         opacity: 1;
        
     }
     
 }
  a:hover{color: chartreuse;border-radius: 50px; border-color: coral;}
 a{padding-left:25rem;}
 h3{
    height:5rem;
    width:35rem;
    margin-top:100px;
    margin-left:45px;
    animation: blink 2s infinite;
 }
h1{
    height:5rem;
    width:40rem;
    margin-top:100px;
    margin-left:45px;
    animation: blink 5s infinite;
 }
 
 